html {
    background-image: url(./download.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@font-face {
    font-family: "poppins";
    src: url(./Poppins-Regular.ttf);
}

body {
    margin: 30px;
    font-family: "arima";
    background: rgb(34,58,126,0.65);
    background: linear-gradient(90deg, rgba(34,58,126,0.65) 0%, rgba(56,102,175,0.65) 50%, rgba(5,34,69,0.65) 100%);
    color: ivory;
    font-family: "poppins";
    border-radius: 10px;
   
}

.main {
    display: flex;
}
.mainmenu {
    display: flex;
    align-items: flex-start;
}


.left h2 {
    writing-mode: vertical-rl;
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
    
}

nav ul {
    list-style: none;
    background: rgb(0,40,89);
    background: linear-gradient(90deg, rgba(0,40,89,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);  
    width: 350px;
    padding: 15px;
    border-left: solid ivory;
    margin: 0;

}

li {
    padding: 10px;
}

nav li a {
    color: ivory;
}

a:hover {
    color: ivory;
    
}

li:hover {
    padding: 15px;
    
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

li img {
    width: 20px;
}

.container img {
    width: 300px;
}

.border{
    width: 100%;
    height: 3px;
    background-color: #1e9de3;
    position: relative;
}

.border img{
    position: absolute;
}

.border.center{
    left: 50%;
}

.right {
    border: 2px solid  #1e9de3 ;
    width: 100%;
    margin: 30px;
    position: relative;

}

.topleft, .topright, .bottomright, .bottomleft {
    position: absolute;
}

.topleft {
    left: -22px;
    top: -21px;
}

.topright {
    right: -18px;
    top:-25px;
    transform: rotate(90deg);
}

.bottomleft {
    left: -18px;
    bottom: -25px;
    transform: rotate(270deg);
}

.bottomright {
    right:-22px;
    bottom: -21px;
    transform: rotate(180deg);
}

