@font-face {
    font-family: "arima";
    src: url(./ArimaMadurai-Regular.ttf);
}

body {
    
    font-family: "arima";
    color: ivory;
    margin: 0;
    padding: 0;
}

.background  {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

h2 {
    margin: auto;
    font-size: 40px;
}

h2 img {
    height: 100%;
    width: 75px;
    
}

.border {
    width: 100%;
    height: 3px;
    background-color:  #FBCDE4;
    position: relative;
}

.border img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 90px;
}

.menuitem {
    width:100%;
    margin-bottom: 50px;
}

.border.tablet {
    display: none;
}


section.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

nav ul{
    padding: 0;
}

nav li {
    list-style: none;
    background-image: linear-gradient(to right, #BE93C5 0%, #7BC6CC  51%, #BE93C5  100%);
    margin: 20px 0;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 15px;
    display: block;
    max-width: 250px;
    max-height: 30px;
    
}


li:hover {
    background-position: right center; 
    text-decoration: none;
}

nav li a {
    color: ivory;
}

a:hover {
    color: ivory;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


.container {
    margin-top: 50px;
}


.container .img2 {
    display: flex;
    justify-content: center; 
   
}

.container img {
    border-radius: 50%;
    max-width: 300px;
}



 @media screen and (min-width: 760px) {
    section.menu {
        flex-direction: row;  
        gap: 150px;
    }

    .border.mobile {
        display: none;
    }

    .border.tablet {
        display: block;
        height: 100%;
        width: 3px;
        position: absolute;
        top:0;
        left: -75px;
    }

    nav {
        margin-top: unset;
    }


    .container  {
        margin-top: unset;
    }

    .menuitem {
        width: auto;
        position: relative;
    }


}


